*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100vw;
    z-index: index 1;
}

.fts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    margin-right: 70px;
}

.logo{
    width: 90px;
    height: 50px;
}

.allover{
    margin-top: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.2;
}

.cure{
    display: flex;
    height: 400px;
    margin-left: 15%;
}


.secure{
    margin-left: 6%;
}


.file{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 30px;
}

.allover h5{
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}

.allover input{
    width: 200px;
    height: 33px;
    border-radius: 3px;
    margin-top: 17px;
}

.allover button{
    width: 120px;
    height: 33px;
    background: hsl(236, 62%, 46%);
    border: none;
    color: hsl(225, 40%, 98%);
    border-radius: 3px;
}

.allover button:hover{
    background:  hsl(224, 93%, 58%);
}

.curve{
    width: 100vw;
    margin-top: 15%;
    color:hsla(0, 10%, 94%, 0.651);
}

.productive{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#f9f8fe;
}

.product{
    display: flex;
    height: 455px;
}

.stay{
    margin-bottom: 280px;
    margin-left: 80px;
    width:70vw;
}

.stay h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.stay .let{
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 14px;
}

.stay h5{
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 14px;
}

.stay h4{
    font-weight: 400;
    color: hsl(170, 45%, 43%);
    text-decoration: underline;
    text-underline-position: auto;
}

.stay h4:hover{
    color: hsl(170, 49%, 66%);
}

.avatar{
    border-radius: 100px;
    height: 40px;
    margin-bottom: 10px;
}

.witness{
    width: 380px;
    position: relative;
    position: absolute;
    top: 158%;
    right: 63%;
    margin-left: 200px;
    background: white;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgb(202, 198, 198);
}

.witness h4{
    font-weight: 400;
    text-align: start;
    font-size: 14px;
    margin-left: 40px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.ava{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 40px;
}

.ceo{
    margin-right: 190px;
}

.kyle{
    font-weight: 700;
    
}

.found{
    font-weight: 400;
    font-size: small;
    margin-bottom: 10px;
}

.quo{
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.early{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 200px;
    margin-top: 10%;
    background: hsl(239, 25%, 43%);
}

.info input{
    width: 300px;
    height: 33px;
    border-radius: 3px;
    border: #f9f8fe;
}

.info button{
    width: 150px;
    height: 30px;
    background:hsl(224, 93%, 58%);
    border:hsl(224, 93%, 58%);
    border-radius: 5px;
    margin-top: 10px;
    color: #f9f8fe;
}

.info button:hover{
    background:hsl(224, 79%, 64%);
}

.access h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 29px;
    color: #f9f8fe;
}

.access h5{
    font-weight: 400;
    color: #f9f8fe;
    line-height: 1.2;
    margin-top: 12px;
    font-size: 13px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background: hsl(243, 87%, 12%);
    width: 100vw;
    height: 300px;
}

.lo{
    color: #f9f8fe;
}

.mail{
    color: #f9f8fe;
    font-weight: 400;
}

.mail:hover{
    color: hsl(239, 31%, 41%);
}

.phone{
    color: #f9f8fe;
    font-weight: 400;
}

.phone:hover{
    color: hsl(239, 31%, 41%);
}

.about li{
    color: #f9f8fe;
    font-weight: 400;
}

.about a{
    text-decoration: none;
}

.about li:hover{
    color: hsl(239, 31%, 41%);
}

.social i{
    border: 1px solid #f9f8fe;
    width: 25px;
    border-radius: 100px;
    color: #f9f8fe;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.social i:hover{
    color: hsl(239, 31%, 41%);
}

.term li{
    color: #f9f8fe;
    font-weight: 400;
}

.term a{
    text-decoration: none;
}

.term li:hover{
    color: hsl(239, 31%, 41%);
}

.us{
    margin-top: 95px;
}

.con{
    margin-top: 95px;
}

@media screen and (max-width:375px) {

    .navbar {
        border: 2px soild red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        width: 800px;
        z-index: index 1;
        margin-left: 15%;
        margin-top: 5%;
    }

    .allover{
        margin-top: 80px;
        display: grid;
        align-items: center;
        line-height: 1.2;
        margin-left: 35%;
    }

    .cure{
        height: 370px;
        order: 0;
    }

    .secure{
        margin-top: 5%;
        margin-left: 10%;
        order: 1;
    }

    .productive{
        width: 854px;
        display: grid;
        align-items: center;
        justify-content: space-between;
        background:#f9f8fe;
    }

    .product{
        height: 455px;
        order: 0;
        margin-left: 20%;
    }
    
    .stay{
        margin-top: 10%;
        margin-bottom: 280px;
        margin-left: 25%;
        width: 600px;
        order:1;
    }

    .curve{
        width: 854px;
        margin-top: 15%;
        color:hsla(0, 10%, 94%, 0.651);
    }

    .witness{
        width: 380px;
        position: relative;
        position: absolute;
        top: 240%;
        left: 20%;
        background: white;
        border-radius: 7px;
        box-shadow: 1px 1px 5px rgb(202, 198, 198);
    }

    .seehow{
        margin-left: 200px;
        margin-top: 20px;
    }

    .early{
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        width: 854px;
        height: 200px;
        margin-top: 10%;
        background: hsl(239, 25%, 43%);
    }

    .info button{
        width: 300px;
    }

    .footer{
        width: 854px;
    }
}